$green: #C3D367;
$red: #ED5F55;
$orange: #E99F49;
$brown: #BAB49E;
$darkestGray: #606873;
$darkGray: #A5ADB8;
$mediumGray: #C6CCD4;
$lightGray: #E6EAED;
$lighterGray: #E1E4E7;
$lightestGray: #F8F9FA;
$smokeWhite: #F0F2F4;
